html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: dana;
  direction: rtl;
  background: $bg;
  display: grid;
  height: 100vh;
  align-items: center;
  justify-items: center;
}

.shadow {
  box-shadow: 1.125rem 1.125rem 1.875rem $bottom_shadow,
    -1.125rem -1.125rem 1.875rem $top_shadow;
}
