// light mode
$bg: #eceff1;
$text_color: #263238;
$top_shadow: #ffffff;
$bottom_shadow: #d4d7d9;

// dark mode
$bg_dark: #263238;
$text_color_dark: #f5f5f5;
$top_shadow_dark: #2a373e;
$bottom_shadow_dark: #222d32;
